h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 10px;
    color: navy;
}

a{
    color: darkred;
    text-decoration: none;
    background-color: greenyellow;    

}

a:hover{
    text-decoration: underline;
    color: darkblue;
    background-color: fuchsia;
}

nav{
    width: auto;
    height: 50px;
    background-color: palegreen;
    /*padding: 20px 10px 15px 20px;*/
    padding-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
}
nav a{
    color: red;
}
nav a:hover{
    text-decoration: line-through;
    color: green;
}

.header{
    width: auto;
    height: auto;
    background-color: black;
    color: floralwhite;
    padding: 1px 3px 5px 1px;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    font-size: 20px;
    color:powderblue;
    background-color: black;
    width:auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.box{
    content: "";
    clear: both;
    display: table;

}

.topbox{
    float: left;
    width:28%;
    padding: 2px;
}

.bottombox{
    float: left;
    width: 48%;
    padding: 2px;
}

#article1{
    border: 5px solid blue;
    background-color: yellow;
    color:red;
    font-weight: bolder;
    margin: 2px;
    padding: 3px;
}

#article2{
    border: 5px dotted red;
    background-color: greenyellow;
    color: blue;
    font-weight: bolder;
    margin: 2px;
    padding: 3px;
}

.flex-container{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.flex-container > div{
    background-color: rgb(255, 255, 255);
    margin: 2px;
    border: 3px dotted red;
    padding: 5px;
}


.flex-container2{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content:center;
    height: 100px;
    align-items: center;
}

.flex-container2 > div{
    background-color: rgb(255, 255, 255);
    height : 20px;
    margin: 2px;
    border: 3px dotted red;
    padding:20px;
    transition-property: border-colour background border-radius;
    transition-duration: 1s;
}

.flex-container2 > div:hover{
    background-color: blue;
    border-radius: 500px;
}